@font-face {
  font-family: 'Death Star';
  src: url('../public/fonts/SFDistantGalaxy.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;
  background: url("../public/assets/back.jpg") no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, p, li{
  font-family: 'Death Star', sans-serif;
  color: #ffe81f;
}
::-webkit-scrollbar {
  display: none;
}
