ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    font-size: xx-large;
    text-decoration: none;
    color: inherit;
  }

  li a{
    text-decoration: none;
    color: #ffe81f;;
  }


  
  li a:hover {
    cursor: pointer;
    color: #ff0000;
  }
  
  .list{
  padding-top: 15vh;  
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  }

  .list::-webkit-scrollbar {
    display: none;
  }